In [4]:
greeting = "Hello welocme edyoda"
query = "How did you find the class"
print(greeting,query)

Hello welocme edyoda How did you find the class

In [5]:
greeting = "Hello welocme edyoda"
query = "How did you find the class"
print(greeting)
print (query)

Hello welocme edyoda
How did you find the class

In [6]:
greeting = "Hello welocme edyoda"
query = "How did you find the class"
print(greeting,end= " ")
print (query)

Hello welocme edyoda How did you find the class

In [7]:
#not going to next line , added the space and continued to the next line

In [2]:
x = input(" Enter your name :" )
print ("Hello "+ x)

 Enter your name :Shubham
Hello Shubham

In [3]:
name = input ()

Raj

In [4]:
print (name)

Raj

In [5]:
print(type(name))

<class 'str'>

In [6]:
#.split ---> split string to list 
#default separtor is whitespace else you can use comma

In [8]:
my_string = "Hello my name is Shub How are you doing today"
my_string_new = my_string.split()
print (my_string_new)

['Hello', 'my', 'name', 'is', 'Shub,', 'How', 'are', 'you', 'doing', 'today']

In [9]:
#in above example there were 10 spaces , so whenever ther is a space present  it will reconize it as a delimiter

In [13]:
my_string = "Hello,my,name,is,Shub,how,are,you,doing,today"
my_string_new = my_string.split(",") #here we defined the split as comma, earlier it was space 
print (my_string_new)

['Hello', 'my', 'name', 'is', 'Shub', 'how', 'are', 'you', 'doing', 'today']

In [14]:
#Join Function
greeting_list = ['Hello', 'my', 'name', 'is', 'Shub', 'how', 'are', 'you', 'doing', 'today']
greeting_list_new = "".join(greeting_list)
print(greeting_list_new)

HellomynameisShubhowareyoudoingtoday

In [15]:
greeting_list = ['Hello', 'my', 'name', 'is', 'Shub', 'how', 'are', 'you', 'doing', 'today']
greeting_list_new = " ".join(greeting_list)
print(greeting_list_new)

Hello my name is Shub how are you doing today

In [16]:
greeting_list_new = "#".join(greeting_list)
print(greeting_list_new)

Hello#my#name#is#Shub#how#are#you#doing#today

In [18]:
my_string = "Hello my name is Shub How are you doing today"
my_string.find("S")

17

In [19]:
my_string = "Hello my name is Shub How are you doing today"
my_string.find("R")
#-1 CAUSE CHEARETER R DOES NOT EXIST IN THE STEING

-1

In [21]:
#WE CAN GIVE A SPECIFIED PART TO FIND 

my_string.find("o",17 , 35)

23

In [22]:
my_string = "Raj is a student of Edyoda B batch. Raj love coding in python. Raj has created a python script to print a table"
my_string.count('Raj')

3

In [23]:
my_string = "Hello,my,name,is,Shub,how,are,you,doing,today"

In [25]:
my_string.replace("," , " ")

'Hello my name is Shub how are you doing today'

In [28]:
my_string = "my name is raj"
my_string.islower()

True

In [29]:
my_string = "my name is raj"
my_string.isupper()

False

In [30]:
my_string = "my name is raj"
my_string.upper()

'MY NAME IS RAJ'

In [31]:
my_string = "my name is raj"
my_string.lower()

'my name is raj'

In [38]:
x = "Edyoda"
x.istitle()

True

In [39]:
y = "edyoda"
y.istitle()

False

In [40]:
y = "edyoda"
y.title()

'Edyoda'

In [42]:
my_str = "Edyoda"
for i in range(len(my_str)):
    print(my_str[len(my_str) -i -1], end = "")

adoydE

In [44]:
for i in range(len(my_str)-1,-1,1):
    print(my_str[i],end = "")

In [45]:
my_str = "Edyoda"
for i in range(len(my_str)):
    print(my_str[len(my_str) -i -1], end = "")

adoydE

In [49]:
my_str = "Edyoda"
for i in range(len(my_str)-1,-1,-1):
    print(my_str[i],end =' ')

a d o y d E

In [48]:
print ('Hello')

Hello

In [51]:
my_str = "Edyoda"
for i in range(len(my_str)-1,-1,-1):
    print(my_str[i],end =' ')

a d o y d E

In [55]:
my_str = "Edyoda"
rev_str = " "
for i in range(len(my_str)-1,-1,-1):
    rev_str = rev_str + my_str[i]
print (rev_str)

 adoydE

In [56]:
#Palindrome

my_str = "123321"
rev_str = " "
for i in range(len(my_str)-1,-1,-1):
    rev_str = rev_str + my_str[i]

In [ ]:
print()